# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


const url =
      "wss://d04b05dc6ca048939b82f25fdb9e85d8.s1.eu.hivemq.cloud:8884/mqtt";
    const options = {
      username: "hivemq.webclient.1755407094330",
      password: "h0V2.QC$#i5bnMdt7&DO",
      clean: true,
      reconnectPeriod: 1000,
    };
